
SampleApp.xcodeproj/project.xcworkspace/xcuserdata/francoling.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
SampleApp.xcodeproj/xcuserdata/francoling.xcuserdatad/xcschemes/xcschememanagement.plist
